@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-top:20px;">
    <h4>Registro de Usuario <hr/></h4>
    <form action="@Url.Action("RegistroExitoso")" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input type="text" class="form-control" id="usuario" name="usuario.usuario" placeholder="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="contrasena">Contraseña</label>
                    <input type="password" class="form-control" id="contrasena" name="usuario.contrasena" placeholder="">
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="nombre">Nombre (s)</label>
                    <input type="text" class="form-control" id="nombre" name="usuario.nombre" placeholder="Nombre">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apPaterno">Apellido Paterno</label>
                    <input type="text" class="form-control" id="apPaterno" name="usuario.apellidoPaterno" placeholder="Apellido Paterno">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apMaterno">Apellido Materno</label>
                    <input type="text" class="form-control" id="apMaterno" name="usuario.apellidoMaterno" placeholder="Apellido Materno">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="usuario.email" placeholder="ejemplo@email.com">
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-md-12" style="float:right">
                <button class="btn btn-success" type="button">Regresar</button>
                <button class="btn btn-primary" type="submit">Registrarse</button>
            </div>
        </div>
    </form>
</div>
