
@{
    ViewData["Title"] = "Registro Exitoso";
}

@model Usuario

<h2>Registro Exitoso</h2>

<p>Nombre:<strong>@Model.nombre</strong></p>
<p>Apellido Paterno:<strong>@Model.apellidoPaterno</strong></p>
<p>Apellido Materno:<strong>@Model.apellidoMaterno</strong></p>

